/* reset */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; }
/* end reset */

/* public */
a:hover {
	text-decoration: none;
	cursor: pointer;
}
/* end public */

/* lunbuto_btn */
.lunbotu_btn {
	float: right;
	
}
.lunbotu_btn a {
	display: inline-block;
	border: 1px solid #e0e0e0;
	color: #b0b0b0;
	padding: 5px 12px;
}
.lunbotu_btn a:hover {
	color: #ff6700;
}
.lunbotu_btn .btn_left {
	margin-right: -4px;
}
/* lunbotu_btn */

body {
	height: 2000px;
}
#header {

}
#header .header_ad {
	background: url(../img/header_ad.gif) top;
	width: 100%;
	height: 114px;
	color: #fff;
	font-size: 32px;
	line-height: 114px;
	text-align: center;
}
#header .header_box {
	background: url(../img/header_nav.gif);
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
}
#header .header_box_nav {
	width: 1226px;
	margin: 0 auto;
	position: relative;
}
#header .header_box_left {
	float: left;
}
#header .header_box_left ul li {
	float: left;
}
#header .header_box_left ul li a {
	cursor: pointer;
	padding: 0 9px;
	color: #b0b0b0;
}
#header .header_box_left ul li a:hover {
	color: #fff;
}
#header .header_box_left ul span{
	color: #424242;
}
#header .header_box_right {
	float: right;
	
}
#header .header_box_right a {
	padding: 0 9px;
	color: #b0b0b0;
}
#header .header_box_right a:hover {
	color: #fff;
}
#header .header_box_right .shoppingList {
	/*width: 120px;*/
	border: none;
	/*height: 39px;
	line-height: 39px;*/
	padding: 14px 25px;
	color: #b0b0b0;
	background: #424242;
	display: inline-block;
	position: relative;
	top: 0px;
	transition: 0.1s;	
}
#header  .shoppingInfo {
	width: 316px;
	height: 98px;
	border: none;
	box-shadow: 0 0 7px #eee;
	background: #fff;
	font-size: 12px;
	line-height: 98px;
	text-align: center;
	color: #424242;
	position: absolute;
	right: 0px;
	top: 40px;
	display: none;
}
#header #nav {
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}
#header #nav .brand {
	width: 55px;
	height: 55px;
	background: url(../img/ico.gif) no-repeat;
	margin: 22px 0 23px 0;
	float: left;
}
#header #nav .nav_main {
	margin: 22px 0 23px 0;
	float: right;
	width: 992px;
}
#header #nav .nav_main .nav_left {
	height: 55px;
	float: left;
}
#header #nav .nav_main .nav_left li {
	float: left;
	font-size: 16px;
	line-height: 55px;
	padding: 0 9px;

}
#header #nav .nav_main .nav_left li a {
	color: #333; 
}
#header #nav .nav_main .nav_left li a:hover {
	color: #ff6700;
}
#header #nav .nav_search {
	float: right;
	height: 55px;
}
#header #nav .nav_search form {
	font-size: 16px;
	width: 296px;
	height: 50px;
	border: 1px solid #e0e0e0;
}
#header #nav .nav_search form:hover , #header #nav .nav_search .search_text:hover , #header #nav .nav_search .search_btn:hover {
	border-color: #b0b0b0;
}
#header #nav .nav_search .search_text {
	border: none;
	border-right: 1px solid #e0e0e0;
	width: 244px;
	height: 48px;
	float: left;
	text-indent: 10px;
}
#header #nav .nav_search .search_btn {
	width: 50px;
	height: 48px;
	border: none;
	background: #fff;
}
#header #nav .nav_search span {
	border: none;
	color: #616161;
	font-size: 18px;
}
#header #nav .nav_search .search_list {
	width: 245px;
	height: 331px;
	border: 1px solid #ff6700;
	border-top: none;
	position: relative;
	top: 1px;
	left: -1px;
	display: none;
	z-index: 22;
}
#header #nav .nav_search .search_list li {
	width: 243px;
	height: 30px;
	background: #fff;
	line-height: 30px;
	padding: 0 15px 0 14px;
}
#header #nav .nav_search .search_list li a {
	font-size: 11px;
	color: #424242;
}
#header #nav .nav_search .search_list li a span {
	font-size: 11px;
	color: #b0b0b0;
	float: right;
}
#header #nav .nav_search .search_list li:hover {
	cursor: pointer;
	background: #f5f5f5;
}

/* second_nav */
.second_nav {
	width: 100%;
	height: 230px;
	border: 1px solid #e0e0e0;
	background: #fff;
	box-shadow:  0px 5px 5px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	z-index: 20;
	overflow: hidden;
}
.second_nav .second_nav_list {
	width: 1226px;
	height: 230px;
	margin: 0 auto;
}
.second_nav .second_nav_list ul {
	width: 1226px;
	height: 230px;
	display: none;
}
.second_nav .splice {
	float: left;
	margin: 35px 0 94px 0 ;
}
.second_nav .second_nav_list li {
	float: left;
	margin: 35px 21px 9px 21px;
	text-align: center;
}
.second_nav .second_nav_list li .product {
	color: #373737;
} 
.second_nav .second_nav_list li .price {
	color: #ff6700;
}
.second_nav .second_nav_list img {
	width: 160px;
	height: 110px;
}
.second_nav .second_nav_list .hide_list {
	display: none;
}
/*.second_nav .second_nav_list .xiaomiPhone {
	display: none;
}
.second_nav .second_nav_list .hongmi {
	display: none;
}
.second_nav .second_nav_list .pad {
	display: none;
}
.second_nav .second_nav_list .tv {
	display: none;
}
.second_nav .second_nav_list .ebox {
	display: none;
}
.second_nav .second_nav_list .WIFI {
	display: none;
}
.second_nav .second_nav_list .edevice {
	display: none;
}*/

/* testcode */

/* textcode end */

/* mian */
#main {
	position: relative;
	width: 1226px;
	height: 1068px;
	margin: 0 auto;
	margin-bottom: 40px;
}
/* pic_player */
#main .pic_player {
	height: 460px;
	position: absolute;
	top: 0;
}
#main .pic_player .pic_list {
	height: 460px;
	overflow: hidden;
}
#main .pic_player .pic_list a {
	display: none;
	transition: 0.5s all;
}
#main .pic_player .player_btn {
	font-size: 30px;
}
#main .pic_player .player_btn a {
	display: inline-block;
	width: 41px;
	height: 69px;
	/*background: #000;*/
	line-height: 69px;
	text-align: center;
	color: #c8c3bb;
}
#main .pic_player .player_btn a:hover {
	background: rgba(0,0,0,0.6);
	color: #fff;
}
#main .pic_player .player_btn .prevPic {
	position: absolute;
	left: 234px;
	top: 195px;
}
#main .pic_player .player_btn .nextPic {
	position: absolute;
	right: 0;
	top: 195px;
}
#main .pic_player .pic_pot {
	position: absolute;
	bottom: 25px;
	right: 25px;
}
#main .pic_player .pic_pot li {
	width: 10px;
	height: 10px;
	border: 2px solid #aba295;
	background: #847863;
	border-radius: 100%;
	float: left;
	margin: 0 10px 0 0;
}
#main .pic_player .pic_pot li:hover {
	cursor: pointer;
	border-color: #958e81;
	background: none;
}
#main .pic_player .pic_pot .active_pot {
	border-color: #958e81;
	background: none;
}

/* side_nav */
#main .side_nav {
	width: 234px;
	height: 460px;
	position: absolute;
	top: 0;
}
#main .side_nav .categories {
	background: rgba(0,0,0,0.6);
	width: 234px;
	height: 460px;
	padding: 20px 0;
	float: left;
}
#main .side_nav .categories ul {
	width: 234px;
	height: 420px;
}
#main .side_nav .categories li {
	width: 234px;
	height: 42px;
	padding: 0 24px 0 30px;
	line-height: 42px;
}
#main .side_nav .categories li:hover {
	cursor: pointer;
	background: #ff6700;
}
#main .side_nav .categories li a {
	font-size: 14px;
	color: #fff;
}
#main .side_nav .categories li span {
	display: inline-block;
	height: 42px;
	line-height: 42px;
	float: right;
	color: #a5a29c;
}

/* detail */
#main .detail {
	height: 460px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 234px;
	border: 1px solid #e0e0e0;
	padding: 5px 1px 0 0;
	box-shadow:  5px 5px 15px rgba(0,0,0,.3);
	/*display: none;*/

}
#main .detail .same {
	margin-right: 4px;
}
#main .detail li:hover {
	cursor: pointer;
}
#main .detail a:hover {
	color: #ff6700;
}
#main .detail input:hover {
	background: #ff6700;
	color: #fff;
}
#main .detail img {
	width: 40px;
	height: 40px;
}
#main .detail a {
	line-height: 40px;
	color: #333333;
}
#main .detail span {
	font-size: 14px;
	padding: 0 0  0  16px; 
}
#main .detail input {
	float: right;
	margin-top: 7px;
	width: 60px;
	height: 24px;
	border: 1px solid #ff6700;
	color: #ff6700;
	background: #fff;
}
#main .detail .firstList {
	float: left;
	width: 263px;
	height: 452px;	
}
#main .detail .firstList li {
	width: 263px;
	height: 56px;
	padding: 0 8px 16px 24px; 
	margin-top: 16px;
}
#main .detail .secondList {
	float: left;
	width: 261px;
	height: 56px;
	padding: 0 0 16px 0; 	
}
#main .detail .secondList li {
	width: 261px;
	height: 56px;
	padding: 0 8px 16px 24px; 
	margin-top: 16px;
}
#main .detail .thirdList {
	float: left;
	width: 259px;
	height: 56px;	
	padding: 0 0 16px 0; 
}
#main .detail .thirdList li {
	width: 259px;
	height: 56px;
	padding: 0 8px 16px 20px;
	margin-top: 16px;
}
#main .detail .forthList {
	float: left;
	width: 193px;
	height: 56px;	
	padding: 0 0 16px 0; 
}
#main .detail .forthList li {
	width: 193px;
	height: 56px;
	padding: 0 8px 16px 16px;
	margin-top: 16px;
}
#main .detail .hide_detail {
	display: none;
}
#main .detail .phone {
	width: 796px;
	height: 460px;
}
#main .detail .notebook {
	width: 532px;
	height: 460px;
}
#main .detail .TV {
	width: 992px;
	height: 460px;
}
#main .detail .wifi {
	width: 992px;
	height: 460px;
}
#main .detail .battery {
	width: 532px;
	height: 460px;
}
#main .detail .headset {
	width: 992px;
	height: 460px;
}
#main .detail .baohutao {
	width: 267px;
	height: 460px;
}
#main .detail .wire {
	width: 267px;
	height: 460px;
}
#main .detail .clothes {
	width: 267px;
	height: 460px;
}
#main .detail .mitu {
	width: 267px;
	height: 460px;
}


/* command */
#main .command {
	position: absolute;
	top: 474px;
	/*margin-top: 14px;*/ 
	width: 1226px;
	height: 170px;
}
#main .command .channel_list {
	width: 234px;
	height: 170px;
	float: left;
	margin-right: 14px;
	background: #5f5750;
}
#main .command .channel_list li {
	float: left;
	width: 78px;
	height: 84px;
	text-align: center;

}
#main .command .channel_list li:hover {
	cursor: pointer;
}
#main .command .channel_list li a {
	display: block;
	font-size: 12px;
	color: #cdcac8;
	margin: 21px 0;
}
#main .command .channel_list li a:hover {
	color: #fff;
}
#main .command .channel_list li span {
	display: block;
	font-size: 24px;
	margin-bottom: 8px;
}
#main .command .commandOne img {
	width: 316px;
	height: 170px;
	float: left;
	margin-right: 15px;
	transition: 0.5s all;
}
#main .command img:hover {
	box-shadow:  5px 5px 15px rgba(0,0,0,.3);
	transform: translate(0,-3px);
}
#main .command .commandTwo img {
	width: 316px;
	height: 170px;
	float: left;
	margin-right: 15px;
	transition: 0.5s all;
}
#main .command .commandThree img {
	width: 316px;
	height: 170px;
	float: right;
	transition: 0.5s all;
}

/* xiaomiStar */
#main .xiaomiStar {
	width: 1226px;
	position: absolute;
	top: 688px;
	overflow: hidden;
}
#main .xiaomiStar .startitle {
	height: 30px;
	line-height: 30px;
	font-weight: 200;
	color: #333333;
	font-size: 22px;
	float: left;
}
#main .xiaomiStar .xiaomiStarList {
	width: 2480px;
	overflow: hidden;
	margin-top: 40px;
	margin-left: 0px;
}
#main .xiaomiStar .xiaomiStarList li {
	float: left;
	width: 234px;
	height: 340px;
	text-align: center;
	margin-right: 14px;
	background: #fafafa;
}
#main .xiaomiStar .xiaomiStarList li img {
	width: 160px;
	height: 160px;
	margin-top: 39px;
	margin-bottom: 32px;
}
#main .xiaomiStar .xiaomiStarList li .title {
	font-size: 14px;
	color: #000;
	margin-bottom: 12px;
}
#main .xiaomiStar .xiaomiStarList li .desc {
	font-size: 12px;
	color: #b0b0b0;
	margin-bottom: 20px;
}
#main .xiaomiStar .xiaomiStarList li .price {
	font-size: 14px;
	color: #ff6700;
}
#main .xiaomiStar .xiaomiStarList .color1 {
	border-top: 1px solid #ffac13;
}
#main .xiaomiStar .xiaomiStarList .color2 {
	border-top: 1px solid #83c44e;
}
#main .xiaomiStar .xiaomiStarList .color3 {
	border-top: 1px solid #2196f3;
}
#main .xiaomiStar .xiaomiStarList .color4 {
	border-top: 1px solid #e53935;
}
#main .xiaomiStar .xiaomiStarList .color5 {
	border-top: 1px solid #00c0a5;
}

/* other */
#other {
	height: 5300px;
	background: #f5f5f5;
	padding-top: 72px;
	/*padding-bottom: 60px;*/
}
#other .household , #other .smart , #other .partner , #other .littlething , #other .periphery , #other .smart {
	width: 1226px;
	height: 694px;
	margin: 0 auto;
	clear: both;
}

#other ._headtitle {
	font-weight: 200;
	color: #000;
	float: left;
}
#other .kind {
	float: right;
}
#other .kind li {
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 16px;
	color: #000;
	margin-left: 30px;
	cursor: pointer;
	transition: 0.1s;
}
#other .kind .activeli {
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
#other .kind li:hover {
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}

#other ._content {
	width: 1226px;
	margin-top: 16px;
	clear: both;
	padding: 16px 0 20px 0;
}
#other ._content ._content_left {
	width: 234px;
	height: 614px;
	float: left;
	margin-bottom: 14px;
	transition: 0.5s all;
}
#other ._content ._content_left img {
	width: 234px;
	height: 614px;
	transition: 0.5s all;
}
#other ._content ._content_left img:hover {
	box-shadow: 4px 10px 15px rgba(0,0,0,0.1);
	transform: translate(0,-3px);
}
#other ._content ._content_left .left_ul {
	margin-left: 0;
}
#other ._content ._content_left .left_ul .left_li {
	width: 234px;
	height: 300px;
	background: #fff;
	margin-bottom: 14px;
	padding: 0;
	transition: 0.5s all; 
}
#other ._content ._content_left .left_ul .left_li:hover {
	box-shadow: 4px 10px 15px rgba(0,0,0,0.1);
	transform: translate(0,-3px);
}
#other ._content ._content_left .left_ul .left_li img {
	width: 234px;
	height: 300px;
}
#other ._content ._content_right {
	width: 992px;
	height: 614px;
	float: left;
	overflow: hidden;
}
#other ._content ._content_right .rightlist {
	width: 992px;
	height: 614px;
}
#other ._content ul {
	width: 234px;
	height: 614px;
	float: left;
	margin-left: 14px;
}
#other ._content ul li {
	width: 234px;
	height: 300px;
	background: #fff;
	margin-bottom: 14px;
	text-align: center;
	padding: 33px 0;
	transition: 0.5s all; 
}
#other ._content ul li:hover {
	box-shadow: 4px 10px 15px rgba(0,0,0,0.1);
	transform: translate(0,-3px);
}
#other ._content ul li img {
	width: 150px;
	height: 150px;
	margin-bottom: 22px;
}
#other ._content ul li h5 {
	font-size: 12px;
	color: #333;
	margin-bottom: 7px;
}
#other ._content ul li .desc {
	font-size: 12px;
	color: #b4b4b4;
	margin-bottom: 18px;
}
#other ._content ul li .price {
	font-size: 12px;
	color: #ff6700;
}
#other ._content ul .more {
	width: 234px;
	height: 143px;
	padding: 32px 20px 31px 30px;
}
#other ._content ul .more img {
	width: 80px;
	height: 80px;
	float: right;
	margin-left: 22px;
}
#other ._content ul .more .more_title {
	font-size: 12px;
	color: #333;
	float: left;
	margin: 12px 0 15px 0;
}
#other ._content ul .more .price {
	font-size: 12px;
	color: #ff6700;
	float: left;
	margin-bottom: 30px;
}
#other ._content ul .more .lookmore {
	font-size: 18px;
	color: #333;
	float: left;
	margin: 22px 0 0 0;
}
#other ._content ul .more .moreshop {
	font-size: 12px;
	color: #b4b4b4;
	margin: 7px 0 30px 0;
}

/* command4u */
#other .command4u {
	width: 1226px;
	height: 374px;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}
#other .command4u .command4uul {
	width: 4960px;
	height: 300px;
	float: left;
	margin-left: 0px;
}
#other .command4u .command4uli {
	float: left;
	padding: 40px 0 25px 0;
}
#other .command4u .command4uli img {
	width: 140px;
	height: 140px;
}
#other .command4u .command4uli h5 {
	font-size: 14px;
	margin-bottom: 16px;
}
#other .command4u .command4uli .price {
	font-size: 14px;
	margin-bottom: 19px;
}
#other .command4u .command4uli ._number {
	font-size: 14px;
	color: #b4b4b4
}
#other .command4u ._marginleft , #other .hot ._marginleft , #other .content ._marginleft , #other .video ._marginleft {
	margin-left: 14px !important;
}

/* hot */
#other .hot {
	width: 1226px;
	height: 486px;
	margin: 0 auto;
	clear: both;
	padding-bottom: 30px;
}
#other .hot .hotul {
	width: 1226px;
	height: 415px;
	float: left;
	margin-left: 0px;
}
#other .hot .hotli {
	float: left;
	width: 296px;
	height: 415px;
	padding: 0 0;
}
#other .hot .hotli img {
	width: 296px;
	height: 220px;
	margin-bottom: 0px;
}
#other .hot .hotli .comment {
	margin: 28px 30px 30px 27px;
}
#other .hot .hotli .comment_content {
	width: 239px;
	height: 72px;
	font-size: 14px;
	color: #333;
	line-height: 24px;
	text-align: left;
}
#other .hot .hotli .fromuser {
	font-size: 12px;
	color: #b4b4b4;
	margin: 24px 0 15px 0;
	text-align: left;
}
#other .hot .hotli .productname {
	float: left;
	font-size: 14px;
	line-height: 16px;
	color: #333; 
}
#other .hot .hotli ._splice {
	float: left;	
	font-size: 12px;
	color: #b4b4b4;
	margin: 0 10px 0 10px;
}
#other .hot .hotli .price {
	font-size: 14px;
	float: left;
}

/* content */
#other .content {
	width: 1226px;
	height: 492px;
	margin: 0 auto;
	clear: both;
	padding-bottom: 30px;
}
#other .content ._orange {
	border-top: 1px solid #ffac13;
}
#other .content ._green {
	border-top: 1px solid #83c44e;
}
#other .content ._red {
	border-top: 1px solid #e53935;
}
#other .content ._blue {
	border-top: 1px solid #2196f3;
}
#other .content .contentsize {
	width: 296px;
	height: 428px;
	float: left;
	margin-left: 0px;
	overflow: hidden;
	background: #fff;
	text-align: center;
	position: relative;
	transition: 0.5s all;
}
#other .content .contentsize:hover {
	box-shadow: 4px 10px 15px rgba(0,0,0,0.1);
	transform: translate(0,-3px);
}
#other .content .contentsize h5 {
	margin-top: 49px;
	font-size: 16px;
	color: #ffac13;
	line-height: 16px;
}
#other .content .contentul {
	width: 888px;
	height: 340px;
	margin: 22px 0 0 0;
}
#other .content .contentli {
	width: 296px;
	height: 340px;
	float: left;
	padding: 0;
}
#other .content .contentli:hover {
	box-shadow: none;
	transform: none;
}
#other .content .contentli .contenttitle {
	display: block;
	color: #000;
	margin-bottom: 11px;
}
#other .content .contentli .contenttitle h3 {
	font-size: 20px;
}
#other .content .contentli .contentinfo {
	display: block;
	color: #b0b0b0;
	margin: 0 52px 19px 52px;
}
#other .content .contentli .price {
	display: block;
	color: #000;
	font-size: 14px;
	clear: both;
	margin-bottom: 20px;
}
#other .content .contentli .contentimg {
	display: block;
	clear: both;
}
#other .content .contentli .contentimg img {
	width: 216px;
	height: 154px;
}
#other .content .contentli ._btn {
	display: inline-block;
	margin-bottom: 30px;
}
#other .content .contentli input {
	font-size: 12px;
	color: #ffac13;
	height: 30px;
	border: 1px solid #ffac13;
	padding: 0 23px;
	background: #fff;
}
#other .content .cardlist {
	width: 164px;
	height: 11px;
	position: absolute;
    bottom: 25px;
    left: 30%
}
#other .content .cardlist li {
	float: left;
    margin: 0 30px 0 0;
    padding: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #b0b0b0;
    cursor: pointer;
    border: 2px solid #b0b0b0;
}
#other .content .cardlist li:hover {
	box-shadow: none;
	transform: none;
	border-color: #ff6700;
    background: #ff6700;
}
#other .content .cardlist .onli {
	width: 10px;
    height: 10px;
    border-color: #ff6700;
    background: #fff;
    transition: 0.1s;
}
#other .content .cardleft , #other .content .cardright {
	width: 20px;
	height: 48px;
	line-height: 48px;
	background: #d9d9d9;
	font-size: 14px;
	color: #ffffff;
	position: absolute;
	top: 45%;
	cursor: pointer;
	display: none;
}
#other .content .cardleft {
	left: 0;
}
#other .content .cardright {
	right: 0;
}
#other .content .cardleft:hover , #other .content .cardright:hover {
	background: #8d8d8d;
	color: #fafafa;
}
#other .content .theme .contentul , #other .content .app .contentul {
	width: 1184px;
}
#other .content .theme h5 {
	color: #83c44e;
}
#other .content .game h5 {
	color: #e53935;
}
#other .content .app h5 {
	color: #2196f3;
}
#other .content .theme .contentli input {
	color: #83c44e;
	border: 1px solid #83c44e;
}
#other .content .game .contentli input {
	color: #e53935;
	border: 1px solid #e53935;
}
#other .content .app .contentli input {
	color: #2196f3;
	border: 1px solid #2196f3;
}
#other .content .book .contentli input:hover {
	color: #fff;
	background: #ffac13; 
}
#other .content .theme .contentli input:hover {
	color: #fff;
	background: #83c44e; 
}
#other .content .game .contentli input:hover {
	color: #fff;
	background: #e53935; 
}
#other .content .app .contentli input:hover {
	color: #fff;
	background: #2196f3; 
}
#other .content .theme .cardlist {
	left: 25%;
}
#other .content .app .cardlist {
	left: 25%;
}

/* video */
#other .video {
	margin: 0 auto;
	width: 1226px;
	height: 286px;
}
#other .video .head {
	width: 1226px;
	height: 26px;
}
#other .video ._headtitle {
	width: 96px;
	height: 26px;
	margin-bottom: 22px;
}
#other .video .lookAll {
	display: block;
	float: right;
	width: 92px;
	height: 20px;
	font-size: 16px;
	color: #000;
	line-height: 20px;
}
#other .video .lookAll span {
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 10px;
	text-align: center;
	line-height: 18px;
	border: 1px solid #b0b0b0;
	border-radius: 100%;
	background: #b0b0b0;
	color: #fff;
	margin-left: 6px;
}
#other .video .videobox {
	clear: both;
	width: 1226px;
	height: 285px;
}
#other .video .videoul {
	width: 1226px;
	height: 285px;
}
#other .video .videoli {
	width: 296px;
	height: 285px;
	float: left;
	background: #fff;
	text-align: center;
	transition: 0.5s all;
	position: relative;
}
#other .video .videoli:hover {
	box-shadow: 4px 10px 15px rgba(0,0,0,0.1);
	transform: translate(0,-3px);
}
#other .video .videoli img {
	width: 296px;
	height: 180px;
}
#other .video .videoli .videotitle {
	display: block;
	font-size: 14px;
	color: #333;
	margin-top: 30px;
}
#other .video .videoli .videoinfo {
	display: block;
	font-size: 12px;
	color: #b0b0b0;
	margin-top: 10px;
}
#other .video .videoli .video_btn {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 296px;
	height: 180px;
	font-size: 12px;
	color: #fff;
}
#other .video .videoli span {
	display: block;
	width: 36px;
	height: 24px;
	background: #000;
	border: 1px solid #fff;
	border-radius: 40%;
	text-align: center;
	line-height: 22px;
	position: relative;
	left: 20px;
	top: 146px;
}

/* info */
#info {
	height: 272px;
	background: #fff;
}
#info .infodetail {
	width: 1226px;
	height: 272px;
	margin: 0 auto;
}
#info .infodetail .serve {
	width: 1226px;
	height: 80px;border-bottom: 1px solid #e0e0e0;
}
#info .infodetail .serve h4 {
	width: 242px;
	height: 79px;
	font-size: 16px;
	float: left;
	line-height: 79px;
	text-align: center;
	color: #616161;	
}
#info .infodetail .serve ._splice {
	display: inline-block;
	width: 1px;
	height: 25px;
	margin-top: 25px;
	border-right: 1px solid #e0e0e0;
	float: left;
}
#info .infodetail .serve ._icofont {
	margin-right: 6px;
}
#info .infodetail .help {
	width: 1226px;
	height: 192px;
	padding: 40px 0 24px 0;
}
#info .infodetail .help ul {
	width: 56px;
	height: 128px;
	float: left;
	margin-right: 103px;
}
#info .infodetail .help .h6 {
	width: 56px;
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 30px;
	color: #424242;
}
#info .infodetail .help li {
	width: 56px;
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 14px;
	color: #818181;
}
#info .infodetail .help ._splice {
	display: inline-block;
	width: 1px;
	height: 112px;
	border-right: 1px solid #e0e0e0;
	margin-left: 15px;
}
#info .infodetail .help .call {
	width: 251px;
	height: 128px;
	padding: 0 56px 14px 56px;
	float: right;
}
#info .infodetail .help .call .callnum {
	width: 139px;
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #ff6700;
	margin-bottom: 10px;
}
#info .infodetail .help .call .worktime , #info .infodetail .help .call .ps {
	width: 139px;
	height: 11px;
	font-size: 11px;
	text-align: center;
	color: #6f6f6f;
}
#info .infodetail .help .call .worktime {
	margin-bottom: 7px;
}
#info .infodetail .help .call .ps {
	margin-bottom: 14px;
}
#info .infodetail .help .call .callbtn {
	width: 139px;
	height: 40px;
	padding: 5px 12px 5px 10px;
}
#info .infodetail .help .call .callbtn button {
	width: 120px;
	height: 30px;
	border: 1px solid #ff6700;
	color: #ff6700;
	background: #fff;
}
#info .infodetail .help .call .callbtn button:hover {
	color: #fff;
	background: #ff6700;
}
#info .infodetail .help .call .callbtn button span {
	margin-right: 4px;
}

/* footer */
#footer {
	height: 166px;
	background: #fafafa;
}
#footer .about {
	width: 1226px;
	height: 166px;
	padding-top: 29px;
	margin: 0 auto;
}
#footer .about .abouttop {
	width: 1226px;
	height: 59px;
}
#footer .about .abouttop .aboutleft {
	width: 58px;
	height: 59px;
	float: left;
	padding : 1px 1px;
}
#footer .about .abouttop .aboutleft img {
	width: 56px;
	height: 57px;
	float: left;
}
#footer .about .abouttop .aboutmid {
	width: 791px;
	height: 59px;
	float: left;
	padding: 0 29px 3px 4px;
}
#footer .about .abouttop .aboutmid .midul {
	width: 759px;
	height: 19px;
}
#footer .about .abouttop .aboutmid .midli {
	display: inline-block;
	float: left;
	padding: 0 4px;
	height: 19px;
	line-height: 19px;
	font-size: 12px;
	color: #818181;
}
#footer .about .abouttop .aboutmid .midli a {
	color: #818181;
}
#footer .about .abouttop .aboutmid .midli a:hover {
	color: #ff6700;
}
#footer .about .abouttop .aboutmid .midul ._splice {
	float: left;
	color: #b0b0b0;
	display: inline-block;
	width: 1px;
	height: 19px;
	font-size: 12px;
}
#footer .about .abouttop .aboutmid .ICP {
	width: 759px;
	height: 17px;
	padding-left: 4px;
}
#footer .about .abouttop .aboutmid .ICP a {
	color: #b4b4b4;
	font-size: 11px;
	line-height: 17px;								
}
#footer .about .abouttop .aboutmid .ICP a:hover {
	color: #ff6700;
}
#footer .about .abouttop .aboutmid .notice {
	width: 759px;
	height: 20px;
	padding-left: 4px;
}
#footer .about .abouttop .aboutmid .notice p {
	font-size: 11px;
	line-height: 20px;
	color: #b4b4b4;
}
#footer .about .abouttop .aboutright {
	float: left;
	width: 376px;
	height: 36px;
	padding: 5px 0 3px 0;
}
#footer .about .abouttop .aboutright a {
	margin-left: 6px;
}
#footer .about .abouttop .aboutright img {
	width: 85px;
	height: 28px;
}
#footer .about .aboutbottom {
	width: 1226px;
	height: 78px;
	line-height: 78px;
	text-align: center;
	font-size: 20px;
}
#footer .about .aboutbottom p {
	font-family: "KaiTi";
	color: #bebebe;
}